@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #3a83fb;
  --color-primary-light: #458af8;
  --color-bg-dark: #10172b;
}

button {
  cursor: pointer;
}

/* Scrollbar styles for modern browsers */
::-webkit-scrollbar {
  width: 8px; /* عرض الشريط */
  height: 8px; /* ارتفاع الشريط الأفقي لو موجود */
}

/* الوضع العادي */
::-webkit-scrollbar-track {
  background: #ffffff; /* أبيض */
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  border-radius: 8px;
  border: 2px solid #ffffff;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-primary-light);
}

/* وضع الداكن */
.dark ::-webkit-scrollbar-track {
  background: #000000; /* أسود */
}

.dark ::-webkit-scrollbar-thumb {
  border: 2px solid #000000;
}

/* الوضع العادي (Firefox) */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-primary) #000000; /* thumb / track */
}
